doctype html
html
  head
    meta(http-equiv="Content-type", content="text/html; charset=UTF-8")
    title= title
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    block script
    block css
  body
    block content